
@{
    ViewData["Title"] = "CreateBook";
}

<h2>CreateBook</h2>


@using Smartpetrol.Data
@model Smartpetrol.Models.Books.BookViewModel

<div class="content">
    <h2 class="main-title">Добавление книги</h2>
    @using (Html.BeginForm("CreateBook", "Librarian", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <label asp-for="Title" class="middle-sign"></label>
        <input asp-for="Title" type="text" autocomplete="false" class="input-text" />
        <span asp-validation-for="Title"></span>

        <label asp-for="Author" class="middle-sign"></label>
        <input asp-for="Author" type="text" autocomplete="false" class="input-text" />
        <span asp-validation-for="Author"></span>

        <label asp-for="Genre" class="middle-sign"></label>
        <input asp-for="Genre" type="text" autocomplete="false" class="input-text" />
        <span asp-validation-for="Genre"></span>

        <label asp-for="Publisher" class="middle-sign"></label>
        <input asp-for="Publisher" type="text" autocomplete="false" class="input-text" />
        <span asp-validation-for="Publisher"></span>

        <div asp-validation-summary="ModelOnly"></div>

        <input type="submit" value="Добавить" class="button no-select" />
    }
</div>