@using Smartpetrol.Data
@inject IUserProvider userProvider

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smartpetrol</title>
    <link href="/css/general.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <nav>
        <ul>
            
            

            @if (await userProvider.UserHasRole(RoleName.Admin))
            {
                <li>
                    <a href="@Url.Action("Index", "Admin")">Администрирование</a>
                </li>
            }
            @if (userProvider.IsAuthenticated)
            {
                <li>
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <label class="log-out-btn">
                        Выйти
                        <input type="submit" hidden/>
                    </label>
                    }
                </li>
            }
        </ul>
    </nav>
    @RenderBody()




</body>
</html>
